@import "tailwindcss";

@theme {
  --color-brand-green: #a9bd45;
  --color-brand-blue: #0072b0;
  --color-brand-white: #FAFAFA;
}

html {
  scrollbar-color: var(--color-brand-green) #FAF8F5;
  scroll-behavior: smooth;
}