---
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <div class="container max-w-4xl mx-auto px-4 py-16 min-h-screen">
    <h1 class="text-2xl text-brand-green">Welcome to Your Service VA</h1>
  </div>
</Layout>
