---
interface GenericSectionProps {
  title: string;
  description: string;
  image: string;
  flow: "normal" | "reverse";
  bg?: "normal" | "dark"
  }

  const genericData: GenericSectionProps  = Astro.props.genericData
---

<section 
  class=`w-full ${ genericData.bg == "dark" ? "bg-brand-dark-blue":"bg-[#FFF]"} py-16 md:py-24 px-6 overflow-hidden border-b border-gray-100`
  >
  <div class="mx-auto max-w-7xl grid grid-cols-1 lg:grid-cols-12 gap-12 items-center">
    
    <div class:list={["lg:col-span-6 flex flex-col gap-6", 
      genericData.flow === "reverse" ? "lg:order-2" : "" ]}>
      <h2 class=`text-3xl sm:text-4xl md:text-5xl font-extrabold ${ genericData.bg == "dark" ? "text-white":"text-[#3d1d0e]"} tracking-tight leading-tight`>
        {genericData.title}
      </h2>
      
      <p class=`${ genericData.bg == "dark" ? "text-gray-300":"text-gray-600"} font-medium text-base sm:text-lg leading-relaxed max-w-xl`>
        {genericData.description}
      </p>

      <div class="h-1 w-20 bg-brand-green rounded-full mt-2"></div>
    </div>

    <div class="lg:col-span-6 flex justify-center lg:justify-end">
      <div class="relative w-full max-w-md lg:max-w-none aspect-4/3 sm:aspect-video lg:aspect-square rounded-3xl overflow-hidden shadow-2xl border border-white/20 group">
        
        <img 
          src={genericData.image} 
          alt="Professional working on laptop outdoor" 
          class="w-full h-full object-cover object-center transform group-hover:scale-105 transition-transform duration-700 ease-out"
        />

        <div class="absolute inset-0 bg-linear-to-t from-[#3d1d0e]/10 to-transparent pointer-events-none"></div>
      </div>
    </div>

  </div>
</section>

